@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #222831;
    width: 90%;
    font-size: 16px;
    max-width: 43.753m;
    margin: 1em auto;
}

.container{
    width: 100%;
    display: grid;   
}

.sub-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding-bottom: 20px;
    padding-top: 20px;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.container input{
    display: block;
    width: 100%;
    padding: 1.25em 1em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}

.container input:focus{
    border-color: #587ef4;
}


.total-amount-container, .user-amount-container{
    background: #76ABAE;
    padding: 1.25em 1em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.output-container{
    width: 100%;
    background-color: #31363F;
    color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    /* margin: 2em 0; */
    padding: 1.2em;   
}

.output-container p{
    font-weight: 500;
    margin-bottom: 0.6em;
    
}

.output-container span{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;   
}

.submit{
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #31363F;
    border: none;
    color: #fff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.submit:hover{
    background-color: #222831;
    transition: background-color 0.5s;
}

.list{
    margin-top: 20px;
    background-color: #EEEEEE;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
    padding-top: 10px;
}

.sublist-content {
    display: flex;
    flex-direction: column;
}

/* ul{
    display: flex;
} */

#lista-producto, #lista-valor {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
}

#eliminar, #modificar {
    margin-left: 2em; /* Mueve los botones a la derecha */
    
}

#lista-producto:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo alternativo para resaltar filas */
}

.product-title{
    margin-bottom: 1em;
}

.hide{
    display: none;
}

#errorMessage{
    padding-top: 0.6em;
    color: #ff465a;
}

@media screen and (max-width: 600px) {
  .wrapper{
      font-size: 14px;
  }

  .sub-container{
      grid-template-columns: 1fr;
      gap: 1em;
  }
}